* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 1em;
    border-bottom: dashed white 0.5em;

    background-color: black;
    height: 25vh;
}

h1, h2, h3, small {
    font-family: 'Inconsolata', monospace;;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: unset;
}

p, label {
    font-family: 'Inconsolata', monospace;;
    text-align: center;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

input {
    width: 25em;
    margin-bottom: 1em;
    padding: 0.5em;
    text-align: center;
    border: 1px solid black;
}

#print {
    width: 5em;
    margin-top: 1em;
}

#builder-output {
    font-size: 1.0em;
    position: relative;
}

#output {
    display: flex;
    flex-direction: column;
    place-items: center;
}

#print-me {
    display: flex;
    flex-direction: column;
    place-items: center;
    width: fit-content;
}

#print-container {
    position: relative;
    top: -2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#serial-barcode, #key-barcode {
    margin: 0;
    padding: 0;
}

#serial-barcode {
    z-index: 1;
}

#key-barcode {
    position: relative;
    top: -1.2em;
    z-index: 3;
}

#builder-output-sticker {
    z-index: 3;
    font-size: 1.0em;
    top: 0.6em;
    position: relative;
}

#serial-sticker {
    z-index: 2;
    position: relative;
    bottom: -0.5em;
}

#key-sticker {
    z-index: 4;
    position: relative;
    top: -0.6em;
}