* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 1em;
    border-bottom: dashed white 0.5em;

    background-color: black;
    height: 25vh;
}

h1, h2, h3, small {
    font-family: monospace;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: unset;
}

p, label {
    font-family: monospace;
    text-align: center;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

input {
    width: 25em;
    margin-bottom: 1em;
    padding: 0.5em;
    text-align: center;
    border: 1px solid black;
}

#print {
    width: 5em;
    margin-top: 1em;
}

#builder-output {
    font-size: 1.5em;
    position: relative;
    top: -0.8em;
}

#print-me {
    width: fit-content;
}

#print-container {
    position: relative;
    top: -1em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100vw;
    height: 100vh;
}